<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <module name="TreeWalker">
        <module name="AnnotationUseStyle"/>
        <module name="AvoidNestedBlocks"/>
        <module name="BooleanExpressionComplexity"/>
        <module name="ClassDataAbstractionCoupling"/>
        <module name="ClassFanOutComplexity"/>
        <module name="CyclomaticComplexity"/>
        <!-- Constants in SCREAM_CASE ?? -->
        <module name="ConstantName">

        <module name="DefaultComesLast"/>
        <module name="EmptyBlock"/>
        <module name="EqualsHashCode"/>
        <module name="ExecutableStatementCount"/>
        <module name="FinalClass"/>
        <module name="HiddenField"/>
        <module name="IllegalCatch"/>
        <module name="IllegalThrows"/>
        <module name="IllegalToken"/>
        <module name="IllegalTokenText"/>
        <module name="IllegalType"/>
        <module name="InnerTypeLast"/>
        <module name="InterfaceIsType"/>
        <module name="JavaNCSS"/>
        <module name="JavadocMethod"/>
        <module name="JavadocPackage"/>
        <module name="JavadocParagraph"/>
        <module name="JavadocStyle"/>
        <module name="JavadocTagContinuationIndentation"/>
        <module name="JavadocType"/>
        <module name="LeftCurly"/>
        <module name="LineLength"/>
        <module name="MagicNumber"/>
        <module name="MethodCount"/>
        <module name="MethodLength"/>
        <module name="MethodName"/>
        <module name="MissingCtor"/>
        <module name="MissingSwitchDefault"/>
        <module name="ModifiedControlVariable"/>
        <module name="ModifierOrder"/>
        <module name="MultipleStringLiterals"/>
        <module name="NestedForDepth"/>
        <module name="NestedIfDepth"/>
        <module name="NestedTryDepth"/>
        <module name="NoClone"/>
        <module name="NoFinalizer"/>
        <module name="NPathComplexity"/>
        <module name="OneStatementPerLine"/>
        <module name="OuterTypeFilename"/>
        <module name="OverloadMethodsDeclarationOrder"/>
        <module name="PackageAnnotation"/>
        <module name="PackageDeclaration"/>
        <module name="ParameterAssignment"/>
        <module name="ParameterName"/>
        <module name="RedundantImport"/>
        <module name="RedundantModifier"/>
        <module name="Regexp"/>
        <module name="RegexpMultiline"/>
        <module name="RegexpSingleline"/>
        <module name="RegexpSinglelineJava"/>
        <module name="ReturnCount"/>
        <module name="RightCurly"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="StringLiteralEquality"/>
        <module name="SuperClone"/>
        <module name="SuperFinalize"/>
        <module name="ThrowsCount"/>
        <!-- TODO comments mogen prima naar productie; sommige dan... -->
        <!-- We willen niet dat je geen TODO's toevoegt, omdat code dan niet door kan, bv. todo's voor sprint 3, of... 4 ;)  -->
        <!-- <module name="TodoComment"/> -->
        <module name="Translation"/>
        <module name="TypeName"/>
        <module name="UncommentedMain"/>
        <module name="UniqueProperties"/>
        <module name="UnnecessaryParentheses"/>
        <module name="VariableDeclarationUsageDistance"/>
        <module name="VisibilityModifier"/>
    </module>
    <!-- Voeg SuppressionFilter module toe met <suppress> van  MissingJavadocMethod warnings -->
    <module name="SuppressionFilter">
        <suppress checks="MissingJavadocMethod" files=".*\.java"/>
    </module>
</module>
</module>
